version: '2'
services:
  mongo:
    image: "mongo:latest"
    ports:
      - "27017:27017"
    volumes:
      - "../data/mongodump:/mongoshobdodump"
      - "../data/mongodump/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro"

  # Redis has been disabled for now
  # TODO: Re-enable Redis and use it as the session store once user login is
  # implemented. In a distributed/multi-instance setup, storing sessions in
  # Play's signed cookie (stateless) means true logout is not possible and
  # sessions cannot be revoked. Redis is the right store for this: fast
  # in-memory reads, built-in TTL for automatic session expiry, and the
  # infrastructure is already wired (just uncomment below + SHOBDO_REDIS_HOSTNAME).
  # redis:
  #   image: "redis:latest"
  #   ports:
  #     - "6379:6379"
  #   depends_on:
  #     - "mongo"
  shobdo:
    image: "shobdo-app"
    ports:
      - "9000:9000"
    env_file: local.env
    depends_on:
      - "mongo"
      # - "redis"
  client:
    image: "nginx"
    ports:
      - "32779:80"
    depends_on:
      - "shobdo"
    volumes:
      - "../client/html/public/:/usr/share/nginx/html/"
      - "../client/nginx.conf:/etc/nginx/nginx.conf"
