<!DOCTYPE html>
<html>
	<head>
	    <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	    <title>Dictionary</title>

	    <style>
	    .bg-1 {
		background-color: #8dae96; /* Dark Green */
		color: #000000;
	    }
	    .bg-2 {
		background-color: #474e5d; /* Dark Blue */
		color: #ffffff;
	    }
	    .bg-3 {
		background-color: #ffffff; /* White */
		color: #555555;
	    }
	    </style>
	</head>

	<body>
		<div class="container-fluid bg-1 text-center">
		    <h2 style="font-size: 100%">Dictionary</h2>
		</div>
		<!--div ng-app="" ng-init="name=1"-->
			<div>
 			<p>Name : <input type="text" ng-model="name"></p>
 			<h1>Hello {{name * 4}}</h1>
			<p ng-bind="name"></p>
			<p>My first expression: {{ 5 + 5 + name}}</p>
		</div>

		<div class="container-fluid bg-2 text-center" id="about" name="about">
		    <h3>About us</h3>
		</div>
		<form action="" method="">
		  <input list="browsers" name="browser">
		  <datalist id="browsers">
		    <option value="Internet Explorer">
		    <option value="Firefox">
		    <option value="Chrome">
		    <option value="Opera">
		    <option value="Safari">
		  </datalist>
		  <input type="submit">
		</form>

	</body>
</html>
